<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>ISAC</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>dwit.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAlbum</servlet-name>
        <servlet-class>createalbum.NewAlbum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryImages</servlet-name>
        <servlet-class>createalbum.CategoryImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAlbum</servlet-name>
        <servlet-class>viewalbum.ShowAlbum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageLike</servlet-name>
        <servlet-class>like.ImageLike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowImages</servlet-name>
        <servlet-class>viewalbum.ShowImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Barchart</servlet-name>
        <servlet-class>BarChar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/isac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAlbum</servlet-name>
        <url-pattern>/newalbum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryImages</servlet-name>
        <url-pattern>/genCategoryImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAlbum</servlet-name>
        <url-pattern>/myalbums</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageLike</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowImages</servlet-name>
        <url-pattern>/images</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Barchart</servlet-name>
        <url-pattern>/bar</url-pattern>
    </servlet-mapping>
</web-app>